<% if @parent_codes.present? %>

  <p>
    This site provides the ability to view the European Union Common Procurement Vocabulary (CPV) codes and descriptions.
    This data comes from the <a href="http://cpv.data.ac.uk/scheme-CPV2008.html" target="_blank">CPV website</a>.
  </p>

  <div class="cpv_container">

    <div class="cpv_main_categories">
      <h1>CPV Categories</h1>

      <p>Click on a category to view all of its items or search for CPVs below.</p>

      <input type="text" name="q" id="q" placeholder="Search for CPV" />


      <ul class="cpv-parents">
        <% @parent_codes.each do |code| %>
          <li>
            <% if code.has_children? %>
              <a href="#" class="cpv-parent" data-code="<%= code.code %>" title="Click to view items in this category"><%= "#{code.description} (#{code.code})" %></a>
            <% else %>
              <%= "#{code.description} (#{code.code})" %>
            <% end %>
          </li>
        <% end %>
      </ul>

      <div class="cpv-search-results">
      </div>

    </div>

    <div class="cpv_children">
    </div>

  </div>
<% else %>

  <div class="no-data">
    Sorry, at this time there is no data on file. Have you run the rake task yet to load the database?
  </div>

<% end %>