<% if @parent_codes.present? %>

  <p>
    This site provides the ability to view the European Union Common Procurement Vocabulary (CPV) codes and descriptions.
    The CPV codes are heirarchical, so you can click on a category to view all of its items.
    This data comes from the <a href="http://cpv.data.ac.uk/scheme-CPV2008.html" target="_blank">CPV website</a>.
  </p>

  <h1>CPV Categories</h1>

  <ul class="cpv-parents">
    <% @parent_codes.each do |code| %>
      <li>
        <a href="#" data-code="<%= code.code %>" title="Click to view items in this category"><%= code.description %></a>
      </li>
    <% end %>
  </ul>

<% else %>

  <div class="no-data">
    Sorry, at this time there is no data on file. Have you run the rake task yet to load the database?
  </div>

<% end %>