.cpv_container{
  width:100%;
  padding:10px;
}

.cpv_container .cpv_main_categories{
  width: 49%;
  vertical-align: top;
  display: inline-block;
}

.cpv_container .cpv_children{
  width: 40%;
  vertical-align: top;
  display: inline-block;
  padding: 20px;
}

.cpv_container .cpv_children.active{
  background-color: #ddd;
}

a.cpv-parent,
a.cpv-parent:visited{
  color: #000099;
}

.cpv-parents,
.cpv-search-results ul{
  list-style-type: none;
  padding-left: 0;
}

.cpv-parents li,
.cpv-search-results li{
  margin: 5px 0;
  padding: 5px;
  background-color: #fff;
}

.cpv-parents li:nth-child(odd),
.cpv-search-results li:nth-child(odd){
  background-color: #eee;
}

.cpv_container .cpv_children .cpv-breadcrumb{
  background-color: #333;
  color: #fff;
  padding: 5px;
}
.cpv_container .cpv_children .cpv-breadcrumb a,
.cpv_container .cpv_children .cpv-breadcrumb a:visited{
  color: #fff;
}
